
.footer-wrapper{
    /* height: 728px; */
    width: 99w;
    background-color: #000;
    color: white;
}
.footer-design{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: baseline;
}
.setting{
    line-height: 40px;
}
.setting2{
    line-height: 90px;
}
.latjao{
    display: flex;
    gap: 30px;
}
.setting p{
    color: #B5B2B2;
}